
{% extends "pages/base.html" %}

{% block pageTitle %}

{% endblock pageTitle %}

{% block content %}
ok
<form class="" action="" method="post">
    {% csrf_token %}
    <div class="col-md-9">
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Compose New Message</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="form-group">
                    <select class="" name="to_who">
                      {% if user.individu.my_status == "professeur" %}
                      {% for doctorant in prof %}
                      <option value="{{ doctorant.candidat.individu.user.username }}">{{ doctorant.candidat.individu.nom }} {{ doctorant.candidat.individu.prenoms }} </option>
                      {% endfor %}
                      {% elif user.individu.my_status == "doctorant" %}
                      {% for professeur in prof %}
                      <option value="{{ professeur.individu.user.username}}">{{ professeur.individu.nom }} {{ professeur.individu.prenoms }} </option>
                      {% endfor %}
                      {% endif %}
                    </select>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Subject:" value="" name="sujet_msg"/>
                  </div>
                  <div class="form-group">
                    <textarea id="compose-textarea" class="form-control" style="height: 200px " name="msg">
                    </textarea>
                  </div>
                  <div class="form-group">
                    <div class="btn btn-default btn-file">
                      <i class="fa fa-paperclip"></i> Attachment
                      <input type="file" name="attachment"/>
                    </div>
                    <p class="help-block">Max. 32MB</p>
                  </div>
                </div>
                <div class="box-footer">
                    <div class="pull-right">
                      <button class="btn btn-default"><i class="fa fa-pencil"></i> Draft</button>
                      <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send</button>
                    </div>

                  </div><!-- /.box-footer -->
                </div><!-- /. box -->
              </div><!-- /.col -->

</form>
            <script src="../../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
        <!-- Page Script -->
        <script>
          $(function () {
            //Add text editor
            $("#compose-textarea").wysihtml5();
          });
        </script>

{% endblock %}
